#navbar {
    background: linear-gradient(293.74deg, #1556D9 22.95%, #1D69FC 93.7%);
    height: 85px;
    padding: 10px;
    position: relative;
}
#navbar h2 {
    margin : 0;
    color : white;
}
.navbarHead {
    background: linear-gradient(293.74deg, #1556D9 22.95%, #1D69FC 93.7%);
}
.sikkaHeader {
    display: flex;
    margin-top: 10px;
    justify-self: center;
    align-self: center;
    .headerImage {
        margin: auto 10px auto 124px;
    }
    .header{
        font-size: large;
        display: flex;
        align-self: center;
        color: whitesmoke;
    }
}

.navbar-buttons {
    margin-top: -36px;
    margin-right: 20px;
}

.navbar-buttons a{
    color: whitesmoke;
}

.navbar-buttons a:hover {
    background-color : #000000;
    color:white;
    transition-duration: 0.3s;
}

.navbar-buttons li{
    display: inline;
    text-align: center;
    float: right;
    padding: 8px;
    margin-right: 9px;
    cursor: pointer;
    background-color: #082032;
    border-radius: 15px;
    color: whitesmoke;
}

.navbar-buttons li:hover{
    background-color : #000000;
    color:white;
    transition-duration: 0.3s;
}