.transfer-modal {
    display: flex;
    flex-direction: column;
    padding: 20px;
    .label{
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #9EA3A9;
        margin: 4px 0px;
        width: 16px;
        height: 16px;   
    }
    .decimals {
        align-items: center;
        padding: 4px 12px;
        position: static;
        width: 400px;
        height: 48px;
        background: #30343E;
        box-shadow: 0px 0px 8px rgba(54, 65, 114, 0.1);
        border-radius: 6px;
        border: none;
        color: white;
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    .formBlock {
        display: flex;
        flex-direction: column;
    }
    .footerClass {
        display: flex;
    }

}

.transfer-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    width: 167px;
    height: 48px;
    background: #195FEA;
    border-radius: 8px;
    color: white;
    border: none;
    margin-top: 20px;
}
.align-left {
    align-self: flex-end;
}